
@import url(https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&family=Karla:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap);




*{
    box-sizing: border-box;
    font-family: 'Acme';
    margin:0;
    padding: 0;

}


html{
    scroll-behavior: smooth;
}


/*MENU*/
.contenedor-header{
    background: #132326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 65.5rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 1.25rem;
}

.contenedor-header header .logo a{
    display: grid;
    font-family: 'Acme';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;

}

.contenedor-header header  nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
    font-family: 'Karla'
}

.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}

.logo2{
    color:rgb(235, 160, 185);
    padding: 5px 10px;
}

/* SECCION INICIO*/

.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), 
    url(img/fondo-4.jpeg);
    background-size: cover;
    height: 60.5rem;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 2.5rem;
    background-color: #132326;
    max-width: 21.8rem;
    margin:auto;
    text-align: center;
    border-radius: 2.5rem;
}

.inicio .contenido-banner img{
 margin-top: 2.5rem;
 border: 0.6rem solid #1CB698;
 display: block;
 width: 80%;
 margin:auto;
 border-radius:100%;
}

.inicio .contenido-banner h1{
    margin-top: 2.5rem;
    font-size: 2.1rem;
    font-family: 'Acme';
}

.inicio .contenido-banner h2{
    font-size: 0.9rem;
    font-family: 'Karla';
}

.inicio .contenido-banner .redes a{
color: #fff;
display: inline-block;
text-decoration: none;
border: 0.06rem solid #fff;
border-radius: 100%;
width: 2.6rem;
height: 2.6rem;
line-height: 2.6rem;
margin: 2.5rem 0.3rem;
font-size: 1.25rem;
transition: .3s;
}
.inicio .contenido-banner .redes a:hover {
    background-color: #1CB698;
}

.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 3.1rem 1.25rem;
}
.sobremi .contenido-seccion{
    max-width: 65.5rem;
    margin: auto;
}

.sobremi h2{
    font-size: 1.25rem;
    font-family:'Acme';
    text-align: center;
    padding: 1.25rem 0;
}

.sobremi .contenido-seccion p{
    font: 1.125rem;
    line-height: 1.3rem;
    margin-bottom:1.25rem ;
    font-family: 'karla'
}
.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
    text-decoration: none;
}

.sobremi .fila{
    display: grid;
    flex-wrap: wrap;
    margin-left: 35%;
 
}

.sobremi .fila .col{
    width: 50%;
}

.sobremi .fila .col h1{
    font-size: 1.75rem;
    font-family: 'Work sans';
    text-decoration: none;

}

.sobremi .fila .col h3{
font-size: 1.75rem;
font-family: 'Work sans';
margin-bottom: 1.5rem;
}

.sobremi .fila .col ul{
    list-style: none;
}

.sobremi .fila .col ul li{
    margin: 12px 0;
    font-family: 'karla';

}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 8.1rem;
    font-family: 'work sans';
}
.sobremi .fila .col ul li span{
    background-color: #1CB698;
    padding: 0.18rem;
    font-weight: 6.2rem;
    border-radius: 0.3rem;
}

.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .interes{
    width: 6.2rem;
    height: 6.2rem;
    background-color: #252A2E;
    border-radius: 0.6rem;
    margin: 0 0.9rem 0.9rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #1CB698;
}

.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
}

/* SECCION SKILLS*/

.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 3.1rem 1.25rem;
}
.skills .contenido-seccion{
    max-width: 65.5rem;
    margin: auto;
}

.skills h2{
    font-size: 2.3rem;
    font-family:'Acme';
    text-align: center;
    padding: 1.25rem 0;
}
.skills .fila{
    display: flex;
}
.skills .fila col{
    width: 50%;
    padding: 0 1.25rem;

}
.skills .fila .col h3{
font-size: 1.7rem;
font-family: 'Work sans';
margin-bottom: 1.5rem;
}
.skills .skill > span{
font-weight: bold;
display: block;
margin-bottom: 0.6rem;
text-decoration: none;
font-family: 'Karla';
}

.skills .skill .barra-skill{
height: 0.5rem;
width: 80%;
background-color: #131517;
position: relative;
margin-bottom: 1.8rem;
}
.skills .skill .progreso{
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5rem;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #1CB698;
    border-radius: 3.1rem;
    line-height: 2.5rem;
    text-align: center;
    top: -1.0rem;
    right: -0.9rem;
    font-size: 0.8rem;
}

/* aquí haremos que las barritas skill técnicos nos den el porcentaje*/

.skills .skill .htmlcss{
    width: 0%;
    animation: 3s htmlcss forwards;
}
@keyframes htmlcss{
    0%{width: 0%;}
    100%{width:70%;}
}
.skills .skill .javascript{
    width: 0%;
    animation: 3s javascript forwards;
}
@keyframes javascript{
    0%{width: 0%;}
    100%{width:20%;}
}
/*aquí haremos que las barritas skill personales nos den el porcentaje*/
.skills .skill .comunicación{
    width: 0%;
    animation: 3s comunicación forwards;
}
@keyframes comunicación {
    0%{width: 0%;}
    100%{width:80%;}
}
.skills .skill .trabajo{
    width: 0%;
    animation: 3s trabajo forwards;
}
@keyframes trabajo{
    0%{width: 0%;}
    100%{width:70%;}
}
.skills .skill .creatividad {
    width: 0%;
    animation: 3s creatividad forwards;
}
@keyframes creatividad{
    0%{width: 0%;}
    100%{width:95%;}
}
.skills .skill .dedicación{
    width: 0%;
    animation: 3s dedicación forwards;
}
@keyframes dedicación{
    0%{width: 0%;}
    100%{width:65%;}
}
.skills .skill .responsabilidad{
    width: 0%;
    animation: 3s responsabilidad forwards;
}
@keyframes responsabilidad{
    0%{width: 0%;}
    100%{width:99%;}
}

/*SECCION CONTACTO*/
.contacto{
    background-image: url(img/fondo-1.jpeg);
    background-color: #132326;
    color:#fff;
    padding: 3.1rem 0;

}
.contacto .contenido-seccion{
    max-width: 65.5rem;
    margin: auto;
}
.contacto h2{
    margin-left: 0%;
    margin-right: 5%;
    font-size: 3rem;
    font-family: 'Acme';
    text-align: center;
    padding: 1.25rem 0;
}
.contacto .fila{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30%;

}
.contacto .col{
    width: 50%;
    padding: 0.6rem;
    position: relative;
   

}
.contacto .col input, .contacto .col textarea{
display: block;
width: 100%;
padding: 1.1rem;
border: none;
margin-bottom: 1.25rem;
background-color: #252A2E;
color: #fff;
font-size: 1.1rem;
}

.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 0.1rem solid #fff;
    width: fit-content;
    display: block;
    margin: 1.25rem auto;
    padding: 0.6rem 1.3rem;
    font-size: 1rem;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 110%;
}


/*SECCION EXTRA FOOTER*/

footer {
   display: flex;
   background-color: #132326;
}
footer h1{
    font-size: 0.9rem;
    font-family: 'Acme';
    text-align: center;
    justify-content: center;
    padding: 1.25rem 0;
    color: #1CB698;
    margin: auto;
    
}